<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.css" integrity="sha512-vA/fpEI8+rrDsPceGG+Rz4NBhaNE4lvJ8CrNfspqDQi6uyIs82Hwr8gm/E+SRs+ZKjJ2ihOdb6esDSAuJrWOhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>
</head>
<body class="bg-gray-100">
    <nav class="flex justify-between items-center h-20 bg-blue-500 px-20">
        <h1 class="text-3xl font-bold">Dashboard</h1>
        <div>
            <span class="mr-10 font-bold">{{ request.user }}</span><a class="bg-white py-2 px-3 rounded-md" href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="shadow-md bg-yellow-50 rounded px-8 pt-6 pb-8 mt-10 mx-auto w-96 flex flex-col">
            {% csrf_token %}
            {{ form.file }}
            <input type="submit" class="cursor-pointer py-2 px-4 mt-4 bg-green-500 rounded" value="Upload">
        </div>
    </form>
    <div class="text-center px-20">
            <table class="table-auto max-w-full px-24 mx-auto border-collapse mt-16 w-full">
        <thead>
            <tr>
                <th>Time</th>
                <th>File Number</th>
                <th>No. Of Mails</th>
                <th>Download File</th>
            </tr>
        </thead>
        <tbody class="divide-y-2">
            {% for item in staff %}
                <tr>
                    <td class="py-2"><span>{{ item.time }}</span></td>
                    <td class="py-2"><span>{{ item.file_num }}</span></td>
                    <td class="py-2"><span>{{ item.num_of_mails }}</span></td>
                    <td class="py-2"><span><a class="text-blue-700" href="{{ item.file.url }}" download>Download</a></span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>